<configuration>

    <property>
    <name>yarn.resourcemanager.resource-tracker.address</name>
    <value>{{ hadoop_yarn_resourcemanager_hostname }}:8025</value>
    </property>

    <property>
    <name>yarn.resourcemanager.scheduler.address</name>
    <value>{{ hadoop_yarn_resourcemanager_hostname }}:8030</value>
    </property>

    <property>
    <name>yarn.resourcemanager.address</name>
    <value>{{ hadoop_yarn_resourcemanager_hostname }}:8050</value>
    </property>

    <property>
    <name>yarn.resourcemanager.admin.address</name>
    <value>{{ hadoop_yarn_resourcemanager_hostname }}:8141</value>
    </property>

    <property>
    <name>yarn.nodemanager.local-dirs</name>
    <value>{{ hadoop_yarn_local_dir }}</value>
    </property>

    <property>
    <name>yarn.nodemanager.log-dirs</name>
    <value>{{ hadoop_yarn_local_log_dir }}</value>
    </property>

    <property>
    <name>yarn.log.server.url</name>
    <value>http://{{ hadoop_yarn_resourcemanager_hostname }}:19888/jobhistory/logs/</value>
    </property>

    <property>
    <name>yarn.nodemanager.aux-services</name>
    <value>mapreduce_shuffle</value>
    </property>

    <property>
    <name>yarn.nodemanager.aux-services.mapreduce.shuffle.class</name>
    <value>org.apache.hadoop.mapred.ShuffleHandler</value>
    </property>

    <property>
    <name>yarn.resourcemanager.scheduler.class</name>
    <value>org.apache.hadoop.yarn.server.resourcemanager.scheduler.fair.FairScheduler</value>
    </property>

    <property>
    <name>yarn.application.classpath</name>
    <value>$HADOOP_CONF_DIR,/usr/hdp/3.1.4.0-315/hadoop/*,/usr/hdp/3.1.4.0-315/hadoop/lib/*,/usr/hdp/current/hadoop-hdfs-client/*,/usr/hdp/current/hadoop-hdfs-client/lib/*,/usr/hdp/current/hadoop-yarn-client/*,/usr/hdp/current/hadoop-yarn-client/lib/*</value>
    </property>

    <property>
    <name>yarn.log-aggregation-enable</name>
    <value>true</value>
    </property>

    <property>
    <name>yarn.scheduler.minimum-allocation-mb</name>
    <value>{{ hadoop_yarn_scheduler_minimum_allocation_mb }}</value>
    </property>

    <property>
    <name>yarn.scheduler.maximum-allocation-mb</name>
    <value>{{ hadoop_yarn_scheduler_maximum_allocation_mb }}</value>
    </property>

    <property>
    <name>yarn.nodemanager.resource.memory-mb</name>
    <value>{{ hadoop_yarn_nodemanager_resource_memory_mb }}</value>
    </property>


    <property>
    <name>yarn.nodemanager.hostname</name>
    <value>{{ hadoop_yarn_nodemanager_hostname }}</value>
    </property>

    <property>
    <name>yarn.nodemanager.address</name>
    <value>{{ hadoop_yarn_nodemanager_hostname }}:32960</value>
    </property>

    <property>
    <name>yarn.scheduler.minimum-allocation-vcores</name>
    <value>{{ hadoop_yarn_scheduler_minimum_allocation_vcores }}</value>
    </property>

    <property>
    <name>yarn.scheduler.maximum-allocation-vcores</name>
    <value>{{ hadoop_yarn_scheduler_maximum_allocation_vcores }}</value>
    </property>

    <property>
    <name>yarn.nodemanager.vmem-check-enabled</name>
    <value>{{ hadoop_yarn_nodemanager_vmem_check_enabled }}</value>
    </property>

    <property>
    <name>yarn.nodemanager.vmem-pmem-ratio</name>
    <value>{{ hadoop_yarn_nodemanager_vmem_pmem_ratio }}</value>
    </property>

    <property>
    <name>yarn.webapp.api-service.enable</name>
    <value>true</value>
    </property>

    <property>
    <name>yarn.webapp.ui2.enable</name>
    <value>true</value>
    </property>

{% for key, value in hadoop_yarn_site_custom.items() %}
    <property>
    <name>{{ key }}</name>
    <value>{{ value }}</value>
    </property>
{% endfor %}

</configuration>
